
.title{
    font-family: 'Merriweather',sans-serif;
    padding-top: 210px;
    padding-left: 120px;
    line-height: 53px;
    font-size: 42px;
}
.paragraphe::first-letter{
    font-size: 110px;
    font-family: 'Merriweather';
    float: left;
        opacity: 1;
        color: black;
        padding: 36px 10px 13px 0;
}
.paragraphe{
    padding-left:121px;
    font-family: 'Lato',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 34px;
letter-spacing: 0.10em;
color: rgba(0, 0, 0, 0.7);
padding-top : 25px;
}
.paragraphe2{
    padding-left: 119px;
    font-family: 'Lato',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.05em;
    margin-top: -18px;
    color: rgba(0, 0, 0, 0.7);
}
.bracket{
    font-family: 'Lato';
    font-style: 'italic';
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #171717;
    padding-left: 120px;
    padding-right: 29px;
    /* padding-bottom: 30px; */
}
.paragraphe3{
    font-family: 'Lato';
font-style: italic;
font-weight: 300;
font-size: 24px;
line-height: 34px;
letter-spacing: 0.02em;
color: #171717;
/* padding-bottom: 58px; */
padding-left: 7px;
padding-top: 39px;
}
.button{
border: 2px solid #EAA258;
box-sizing: border-box;
background: #FFFFFF;
box-shadow: 0px 4px 68px rgba(0, 0, 0, 0.1);
width: 264px;
height: 68px;
font-family: 'Lato',sans-serif;
font-style: normal;
color: #EAA258;
font-size: 18px;
letter-spacing: 0.22em;
margin-left: 120px;
/* margin-bottom: 90px; */
}
.wrapper{
/* background: #FFFFFF;; */
/* width: 1410px; */
margin-left: 95px;
/* margin-top: 150px;
margin-right: 95px;
margin-bottom: 150px; */
}
